global:
  scrape_interval: 10s
  evaluation_interval: 10s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
        labels:
          app: prometheus

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['host-machine:9100']
        labels:
          app: node-exporter

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['host-machine:9105']
        labels:
          app: cadvisor

  - job_name: 'docker'
    static_configs:
      - targets: ['host-machine:9104']
        labels:
          app: docker

  - job_name: 'docker-containers'
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
    authorization:
      credentials: "public"
    relabel_configs:
      - source_labels: [__meta_docker_container_label_prometheus_io_scrape]
        regex: true
        action: keep
      - source_labels: [__meta_docker_network_name]
        regex: 'monitoring'
        action: keep
      - source_labels: [__meta_docker_container_name]
        regex: '/(.*)'
        target_label: app
        replacement: '$1'
      - source_labels: [__meta_docker_network_ip, __meta_docker_container_label_prometheus_io_port]
        separator: ':'
        regex: '([^:]+):(.+)'
        target_label: __address__
        replacement: '$1:$2'
      - source_labels: [__meta_docker_container_label_prometheus_io_path]
        separator: ;
        regex: (.+)
        target_label: __metrics_path__
        replacement: $1
      - source_labels: [__meta_docker_container_label_prometheus_io_scrape_interval]
        regex: (.+)
        target_label: __scrape_interval__
        replacement: $1
      - source_labels: [__meta_docker_container_label_prometheus_io_scrape_timeout]
        regex: (.+)
        target_label: __scrape_timeout__
        replacement: $1
