networks:
  monitoring:
    external: true


services:
  watchtower:
    image: nickfedor/watchtower
    container_name: watchtower
    restart: unless-stopped
    read_only: true
    deploy:
      replicas: 1
      resources:
        reservations:
          cpus: "0.01"
          memory: 32M
        limits:
          cpus: "0.1"
          memory: 64M
    networks:
      - default
      - monitoring
    environment:
      - "TZ=${TZ}"
      - "WATCHTOWER_CLEANUP=true"
      - "WATCHTOWER_INCLUDE_RESTARTING=true"
      - "WATCHTOWER_INCLUDE_STOPPED=true"
      - "WATCHTOWER_REVIVE_STOPPED=true"
      - "WATCHTOWER_SCHEDULE=${WATCHTOWER_SCHEDULE:-0 30 4 * * *}"
      - "WATCHTOWER_LABEL_ENABLE=false"
      - "WATCHTOWER_HTTP_API_METRICS=true"
      - "WATCHTOWER_HTTP_API_TOKEN=public"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/var/run/docker.sock:/var/run/docker.sock"
    labels:
      - "prometheus.io/scrape=true"
      - "prometheus.io/port=8080"
      - "prometheus.io/path=/v1/metrics"
